
body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
 
.container-fluid{
    padding: 3% 15% 7%;

}

h1{
   /* font-family: 'Montserrat', sans-serif; */
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    /* font-family: 'Ubuntu', sans-serif; */
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;

}

h3{
    font-family: "Montserrat";
    font-weight: bold;
}

p{
    color: #8f8f8f;
    font-size: 1rem;
    font-weight: lighter;
}

/* Navigation bar */

.navbar{
    padding: 0 0 4.5rem;

}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


/* Downloads Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features section */

#features{
    padding: 7%;
    font-size: 1.5rem;  
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
     color: #ff4c68;    
     margin-bottom: 1rem
}

.icon:hover{
    color: #f51738;
}

/* Testomonial section */

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color:#fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press */

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 4%;
}

/* Call to action section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}


/* Footer section  */

#footer{
    background-color:#e3ecf1;
    text-align: center;
    padding: 50px;
    font-size: 1.5rem;
}

.social-icons{
    margin: 20px 10px;
    color: #948282;
}

.footer-p{
    font-family: "Open Sans", sans-serif;
}


/* Media cuerry for responsive */

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
    }
}